    <br/>
    <div class='container'>
    <div class="card">
    <h5 class="card-header text-white bg-dark"> Déclarer un problème </h5>
    <div class="card-body">
    <h5 class="card-title "> Veuillez remplir les zones suivantes et soumettre votre demande</h5>
    <div class="card text">
            <form class="form-horizontal"
            novalidate
            (ngSubmit)="save()"
            [formGroup]="problemeForm">
            <div class="form-group row">
              <label for="prenomId" class="col-md-2 col-form-label text-right">Prénom :</label>
              <div class="col-md-10">
                    <input class="form-control" 
                    id="prenomId" 
                    type="text" 
                    placeholder="Votre prénom ici (obligatoire)" 
                    formControlName="prenom"            
                    [ngClass]="{'is-valid': (problemeForm.get('prenom').touched || 
                    problemeForm.get('prenom').dirty) &&
                    (problemeForm.get('prenom').valid),
                    'is-invalid': (problemeForm.get('prenom').touched || 
                    problemeForm.get('prenom').dirty) &&
                    (!problemeForm.get('prenom').valid )}"/>
      
                <span class="form-text" *ngIf="(problemeForm.get('prenom').touched ||
                        problemeForm.get('prenom').dirty) &&
                        problemeForm.get('prenom').errors">
                    <span *ngIf="problemeForm.get('prenom').errors.minlength">
                        <small class="text-muted">
                            Entrer plus de caractere
                        </small>
                    </span>
                    <span *ngIf="problemeForm.get('prenom').errors.required">
                        <small class="text-muted">
                            Veuillez ne pas laisser vide, va chier
                        </small>
                    </span>        
              </span>
 
              </div>         
            </div>  
          </form>
    </div> 
    </div>
    </div>
</div>
