<div class="container">
    <br/>
    <div class="card">
    <div class="card-header text-white bg-secondary">
    <!-- L'en-tête ici -->
    </div>
    <div class="card-body">
    <h5 class="card-title">Ça va mal!</h5>
    <p class="card-text">Venez chialer à nos bouffons de haut calibres.</p>
    </div>
    <div class="card-footer">    
    <a class="btn btn-primary" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" role="button">  <i class="fa fa-save"></i> Sauvegarder</a>
    </div>
    </div>
   </div> 